{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block stylesheets %}
	<style>
		img {
			padding: 0 1em 0.6em;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="h-75 d-flex justify-content-center align-items-center">
		<div class="col-lg-6 col-12 shadow py-5 px-md-5 px-5 px-md-0">
			<h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

			{{ form_start(registrationForm) }}
			{{ form_widget(registrationForm) }}
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
