<form method="post" action="{{ path('app_category_delete', {'id': category.id}) }}"
        onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette catégorie ?');">

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    
    <a class="btn btn-light" href="{{ path('app_category_edit', {id: category.id}) }}">Modifier</a>
    <button class="btn btn-light">Supprimer</button>
</form>
