{% extends 'base.html.twig' %}

{% block title %}Category List{% endblock %}

{% block body %}
<div class="container-xxl p-3 position-relative h-100">
    <h1 class="pt-4 pb-2">Liste des catégories</h1>

    <div class="overflow-auto h-75">
        {% for category in categories.items %}
            <div class="my-5">
                <a href="{{ path('app_category_show', {'id': category[0].id}) }}" class="fs-5">
                    {{ category[0].name }}
                </a>
                <p class="pt-1">{{ category[1] }} citations.</p>
            </div>
        {% else %}
            <p class="py-2 text-center fs-4 text-danger">Aucune catégorie trouvée</p>
        {% endfor %}
    </div>

    <div class="position-absolute bottom-0 end-0">
        {{ knp_pagination_render(categories) }}
    </div>
</div>

{% endblock %}
