{% extends 'base.html.twig' %}

{% block title %}Category List{% endblock %}

{% block body %}
<div class="container-xxl p-3 position-relative h-100">
    <h1 class="pb-5 pt-2 text-center">Liste des catégories</h1>

    <div class="overflow-auto h-75">
        {% for category in categories %}
            <div class="my-5">
                <a href="{{ path('app_category_show', {'id': category.id}) }}" class="fs-5">
                    {{ category.name }}
                </a>
            </div>
        {% else %}
            <p class="py-2 text-center fs-4 text-danger">Aucune catégorie trouvée</p>
        {% endfor %}
    </div>

    <div class="position-absolute bottom-0 end-0">
        {{ knp_pagination_render(categories) }}
    </div>
</div>

{% endblock %}
