{% extends 'base.html.twig' %}

{% block title %}Ajout Categorie{% endblock %}

{% block body %}
<div class="container-xxl p-3">
    <h1 class="py-4">Créer une catégorie</h1>
    {{ include('category/_form.html.twig') }}
    <a href="{{ path('app_category_index') }}" class="mt-5 btn btn-secondary">Retour</a>
{% endblock %}