{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<div class="container-xxl p-3">
    <h1 class="py-4">Catégorie "{{ category.name }}"</h1>
    <ul>
        {% for quote in category.quotes %}
            <li class="list-unstyled mb-5">
                {{ include('quote/_quote.html.twig') }}
                {{ include('quote/_quote_id.html.twig') }}
            </li>
       {% else %}
            <li class="list-unstyled py-2 text-center fs-4 text-danger">Aucune citation trouvée pour cette catégorie</li>
       {% endfor %}
    </ul>

    {{ include('category/_edit_delete_form.html.twig') }}
</div>

{% endblock %}