{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Administration{% endblock %}
{% block content %}

   <div class="py-5">
       <h1 class="fw-bold">Administration</h1>
       <p class="lead">Bienvenue dans l'interface administration de votre site internet.</p>
   </div>

{% endblock %}
