{% extends 'base.html.twig' %}

{% block title %}Quote Page{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('/css/quote.css') }}" type="text/css"/>{% endblock %}

{% block body %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Quote Machine</a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search"
                   name="content" value="{{ app.request.query.get('content') }}">
            <button class="btn btn-outline-success" type="submit">Rechercher</button>
        </form>
    </div>
</nav>

<div class="container-xxl p-3">
    <h1 class="pb-5 pt-2 text-center">Liste des citations</h1>
    <ul>
       {% for quote in quotes %}
            <li class="list-unstyled py-2">
                <figure>
                    <blockquote class="fs-5">{{ quote.content }}</blockquote>
                    <figcaption class="text-secondary fst-italic">{{ quote.meta }}</figcaption>
                </figure>
            </li>
       {% else %}
            <li class="list-unstyled py-2 text-center fs-4 text-danger">Aucune citation trouvée</li>
       {% endfor %}
    </ul>
</div>
{% endblock %}
