{% extends 'base.html.twig' %}

{% block title %}Affichage d'une Citation{% endblock %}

{% block body %}
    <div class="container-xxl p-3">
        <h1 class="py-4">Citation</h1>
        {{ include('quote/_quote.html.twig') }}
        {{ include('quote/_edit_delete.html.twig') }}
    </div>
{% endblock %}