{% extends 'base.html.twig' %}

{% block title %}Hello User !
{% endblock %}

{% block body %}

	<div class="container-xxl p-3 position-relative h-100">
		<h1 class="pt-4 pb-5">Profil de "{{user.name}}"</h1>

		<div class="row mb-3">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">

						<div class="mb-3">
							Niveau
							<span class="border border-primary rounded-circle px-2 py-1">6</span>
						</div>
						<div class="mb-3">
							<span>Prochain  niveau</span>
							<div class="progress mb-3">
								<div class="progress-bar" role="progressbar" style="width: 94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span>Membre de l'application depuis le
								{{ user.registrationDate | date("m/d/Y")}}.</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
